{% extends "base.html" %}

{% block content %}


<!-- Header -->
<div class="header">
  <h1>Deposits</h1>
  <div class="user-info">
    <span class="username">{{ user.first_name }} {{ user.last_name }}</span>
    <img src="{{ url_for('static', filename='uploads/' + profile_picture) }}" alt="User Avatar" class="avatar" />
  </div>
</div>


  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="deposit-card">
      <h3>USDT Deposit</h3>

      <div class="form-group">
        <label for="amount">Enter Amount</label>
        {{ form.amount_deposited(class="form-control", id="amount", placeholder="Enter deposit amount") }}
      </div>

      <div class="form-group">
        <label for="network">Select USDT Network</label>
        {{ form.senders_wallet_network(class="form-control", id="network") }}
      </div>

      <div class="form-group">
        <label for="wallet_address">Sender Wallet Address</label>
        {{ form.senders_wallet_address(class="form-control", id="wallet_address", placeholder="Your wallet address") }}
      </div>

      <div class="form-group">
        <label for="comment">Comment (optional) -- try to put the time you are making the transfer</label>
        {{ form.comment(class="form-control", id="comment", placeholder="Additional notes") }}
      </div>

      <button class="deposit-btn" type="submit">
        <i class="fa-solid fa-dollar-sign"></i> Generate Deposit Address
      </button>
    </div>
  </form>



  {% endblock content %}

