{% extends "base.html" %}

{% block content %}


<!-- Header -->
<div class="header">
  <h1>Investment Plans</h1>
  <div class="user-info">
    <span class="username">{{ user.first_name }} {{ user.last_name }}</span>
    <img src="{{ url_for('static', filename='uploads/' + profile_picture) }}" alt="User Avatar" class="avatar" />
  </div>
</div>



<section class="plans-header">
  <h1>Investment Plans</h1>
  <p>
    Choose from our range of investment plans designed to maximize your returns.
    Our plans offer competitive ROI rates and flexible investment periods.
  </p>
</section>

<div class="plans">
  {% for plan in plans %}
  <div class="cardi">
    <h2>{{ plan.name }}</h2>
    <div class="icon-boxi">
      <i class="fa-solid fa-chart-line"></i>
    </div>
    <div class="roi">
      <span>Monthly ROI</span>
      <div class="value">{{ plan.monthly_roi | round(0) }}%</div>
      <div class="annual">
        Annual ROI <strong>{{ plan.annual_roi | round(0) }}%</strong> &bull; Period <strong>{{ plan.period_in_days }} days</strong>
      </div>
    </div>
    <div class="detailsi"><strong>Minimum Investment</strong> ${{ "{:,.2f}".format(plan.min_amount) }}</div>
    <div class="detailsi"><strong>Maximum Investment</strong> ${{ "{:,.2f}".format(plan.max_amount) }}</div>


    <div class="description">{{ plan.comment or 'No description provided.' }}</div>
     <a href="{{ url_for('submit_investment', user_id=user_id, plan_id=plan.plan_id) }}">
      <button class="btn">Invest Now</button>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock content %}