{% extends "base.html" %}
{% block content %}
<div class="success-message">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <h2>🎉 Success!</h2>
  <p>Your withdrawal request is successful, funds arrival within 24 hours.</p>

  <br/><br/><br/><br/>
  <a href="{{ url_for('user_dashboard') }}" class="btn">Return to Dashboard</a>
</div>
{% endblock %}
