{% extends "base.html" %}
{% block content %}
<div class="header">
  <h1>Referrals</h1>
  <div class="user-info">
    <span class="username">{{ user.first_name }} {{ user.last_name }}</span>
    <img src="{{ url_for('static', filename='uploads/' + profile_picture) }}" alt="User Avatar" class="avatar" />
  </div>
</div>

<div class="referral-container">
  <h2 class="referral-heading">Partnership Program</h2>

  <div class="referral-cardees">
    <div class="cardee empty-cardee">
      <i class="fa-solid fa-user-group fa-2x"></i>
    </div>

    <div class="cardee earnings-cardee">
      <div>
        <h4>Total Earnings</h4>
        <p class="earnings-amount">${{ total_earnings }}</p>
        <small>Earn 5% of referrals' withdrawal amounts</small>
      </div>
      <i class="fa-solid fa-share-nodes share-icon"></i>
    </div>
  </div>

  <div class="invite-section">
    <h3>Invite Friends & Earn</h3>
    <div class="invite-note">
      Earn by inviting your friends to invest and receive 5% of their withdrawal amount as a reward.
      Grow your earnings effortlessly through our partnership program!
    </div>

    <label for="referral-link" class="referral-label">Your Referral Link</label>
    <div class="referral-link-box">
      <input type="text" id="referral-link" value="{{ referral_link }}" readonly />
      <button class="copy-btn"><i class="fa-regular fa-copy"></i></button>
    </div>

    <div class="withdraw-btn-wrapper">
      <button class="withdraw-btn">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        Share Your Link 
      </button>
    </div>
  </div>
</div>



<div class="referral-history-card">
  <h3>Referral History</h3>
  <table class="referral-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>DATE</th>
        <th>EARNINGS</th>
      </tr>
    </thead>
    <tbody>
      {% for tx in transaction_log %}
      <tr>
        <td>
          <div class="referral-user">
            <i class="fa-solid fa-user-group"></i>
            <span> {{ tx.description }} </span>
          </div>
        </td>
        <td> {{ tx.created_at.strftime('%b %d, %Y, %I:%M %p') }} </td>
        <td class="earning">$ {{ tx.amount }} </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>


{% endblock content %}
